@import url(reset.css);
@import url(grid.css);
@import url(forms.css);
@import url(http://fonts.googleapis.com/css?family=Passion+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
	background:url(../images/body-bg.gif) 50% 0;
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#717171;
	position:relative;
	width: 100%;
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
html, body {
	height:100%;
}
html {
	width:100%;
}
/* Global Structure---------------------------------------- */
.main {
	margin:0 auto;
	position:relative;
	width:100%;
	background-color: #04AA6D;
}
.main-bg {
	background:url(../images/main-bg.jpg) no-repeat center 0;
	min-height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.bg-3 {
	background:url(../images/bg.jpg) no-repeat center 0;
	min-height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
}
/*----- alignment & clearing -----*/
.fleft {
	float:left
}
.fright {
	float:right
}
.alignright {
	text-align:right
}
.aligncenter {
	text-align:center
}
.alignmiddle * {
	vertical-align:middle
}
.clear {
	clear:both;
	line-height:0;
	font-size:0;
	overflow:hidden;
	height:0;
	width:100%;
}
.wrapper {
	overflow:hidden;
	position:relative;
}
.extra-wrap {
	overflow:hidden;
	display:block;
}
/*  Header styles */
h1, h2, h3, h4, h5, h6 {
	color:#fff;
	padding:0 0 9px 0;
	font-weight:normal;
	font-family: 'Passion One', cursive;
}
h1 {
	font-size:40px;
	line-height:48px;
}
h2 {
	font-size:36px;
	line-height:44px;
}
h3 {
	font-size:32px;
	line-height:40px;
}
h4 {
	font-size:28px;
	line-height:34px;
}
h5 {
	font-size:24px;
	line-height:30px;
}
h6 {
	font-size:20px;
	line-height:24px;
}
.heading-1 {
	color:#b30404;
}
/*----- text & typography -----*/
.def-list-1 {
	padding:0 0 10px 0;
}
.def-list-1 dt {
	display:block;
	font-size:12px;
	line-height:18px;
	padding:0 0 6px 0;
	color:#b09609;
	font-weight:bold;
}
.def-list-1 dt a {
	color:#b09609;
	text-decoration:none;
}
.def-list-1 dt a:hover {
	text-decoration:underline;
}
.quote {
	font-size:12px;
	line-height:20px;
	font-style:italic;
	position:relative;
	padding:0 0 15px 0;
}
.quote strong {
	font-weight:normal;
	color:#b09609;
}
.quote:before {
	display:inline-block;
	background:url(../images/quote-before.png) no-repeat 0 0;
	content:"";
	width:14px;
	height:13px;
	margin:0 5px 0 0;
}
.quote:after {
	display:inline-block;
	background:url(../images/quote-after.png) no-repeat 0 0;
	content:"";
	width:14px;
	height:13px;
	margin:0 0 0 6px;
}
strong {
	color:#b30404;
}
.str-1 {
	font-weight:normal;
	text-transform:uppercase;
}
.str-2 {
	color:#b09609;
}
.color-1 {
	color:#fff;
}
/*----- borders & lines -----*/
.hr-border-1 {
	border-bottom:1px solid #323232;
	margin:0 0 9px 0;
}
.hr-border-2 {
	background:#323232;
	height:3px;
	margin:0 40px 20px 40px;
}
/*----- boxes -----*/
.banner-box {
	background:#292929;
	padding:25px 135px 35px 40px;
	position:relative;
}
.banner-box h3 {
	font-size:34px;
	line-height:40px;
	padding:0;
}
.banner-box h4 {
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:21px;
	line-height:26px;
	margin:-5px 0 0 0;
	font-weight:300;
	letter-spacing:-1px;
	padding:0 0 18px 0;
}
.banner-box .inner {
	position:relative;
	z-index:2;
}
.banner-box-img {
	position:absolute;
	right:0;
	bottom:0;
}
/*----- indents -----*/
.img-indent {
	float:left;
	margin:5px 10px 0 0;
}
.img-indent-bot {
	margin:5px 0 16px 0;
}
p {
	padding-bottom:18px;
}
.p {
	padding-bottom:18px;
}
.p0 {
	padding-bottom:0 !important;
}
.p1 {
	padding-bottom:6px !important;
	justify-content: space-evenly;
}
.p2 {
	padding-bottom:15px !important;
}
.a1 {
	margin:0 5px;
}
.indent-bot {
	padding:0 0 32px 0;
}
.indent-bot-1 {
	padding:0 0 70px 0;
}
.indent-bot-2 {
	padding:0 0 20px 0;
}
.indent-right {
	margin-right:90px;
}
.pad-left {
	padding-left:35px;
}
.pad-top {
	padding-top:8px;
}
/*----- lists -----*/
.list-1 {
	padding:0 0 20px 0;
}
.list-1 li {
	display:block;
	padding:4px 0 4px 16px;
	border-top:1px solid #323232;
	background:url(../images/list-1-marker.gif) no-repeat 0 10px;
}
.list-1 li:first-child {
	padding:0 0 6px 16px;
	border:none;
	background:url(../images/list-1-marker.gif) no-repeat 0 5px;
}
.list-1 li a {
	color:#717171;
	font-size:14px;
	line-height:20px;
	padding:5px 0 6px;
	text-decoration:none;
}
.list-1 li a:hover {
	color:#fff;
}
/*----- buttons & links -----*/
a {
	color:#fff;
	text-decoration: underline;
	cursor:pointer;
}
a:hover {
	text-decoration: none;
}

  
.button {
	border: none;
	color: rgb(3, 31, 21);
	padding: 16px 100px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 15px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color:#4be481;
	border-radius: 5%;
  }
  
  .button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #ffffff;
	text-align: center;
  }
  
  .button1:hover {
	background-color: #aff0ab;
	color: white;
	text-align: center;
  }
  
  .button2 {
	background-color: white; 
	color: black; 
	border: 2px solid #008CBA;
  }
  
  .button2:hover {
	background-color: #008CBA;
	color: white;
  }
  
#myDIV {
	width: 100%;
	height:100%;
	padding: 50px 50px;
	text-align: center;
	background-color:rgb(255, 255, 255);
	margin-top: 20px;
}
#myDIV1 {
	width: 100%;
	height:100%;
	padding: 50px 50px;
	text-align: center;
	background-color:rgb(247, 247, 247);
	margin-top: 20px}

#myDIV2 {
		width: 100%;
		height:100%;
		padding: 50px 50px;
		text-align: center;
		background-color:rgb(255, 255, 255);
		margin-top: 20px;
}

.btn-group button {
	background-color: #04AA6D; /* Green background */
	border: 1px solid green; /* Green border */
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
	content: "";
	clear: both;
	display: table;
  }
  
  .btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
	background-color: #3e8e41;
}

.link {
	text-decoration: underline;
	color:#ee623a;
	font-weight:bold;
}
.link:hover {
	text-decoration: none;
}
/*********************************header*************************************/
header {
	position:relative;
	z-index:2;
	width:950px;
	margin:0 auto;
	padding:80px 0 0 0;
	background:url(../images/slide-1.jpg) no-repeat center 80px;
}
header .inner {
	background:url(../images/header-bg.png);
	padding:26px 40px 25px 40px;
	position:relative;
	z-index:2;
}
.logo {
	display:inline-block;
	padding:0 !important;
	color: #e9e6a8;
}
/***.logo a {
	position:relative;
	background: url(../images/logo.png) no-repeat 0 0;
	height:58px;
	width:187px;
	overflow:hidden;
	text-indent:-99em;
	display:block;
}***/
.container-1 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #27e34c;
	height: 500px;
	
  }
/** about **/
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	height: 500px;
	
  }

  img {
	max-width: 350%}
  .image {
	flex-basis: 50%
	

  }
  .text {
	font-size: 18px;
	padding-left: 300px;
	padding-right: 10%;
	font-family: "Times New Roman", Times, serif;
	line-height: 130%;
	
	color: rgba(0, 0, 0, 0.69);
	padding-top: 0%;
  }
  .text1 {
	font-size: 18px;
	padding-left: 20%;
	padding-right: 20%;
	font-family: "Times New Roman", Times, serif;
	line-height: 130%;
	
	color: rgba(0, 0, 0, 0.69);
	padding-top: 80px;
  }
/** end about **/
/********************** Slider ************************/
.mp-slider .items {
	display:none;
}
.mp-slider {
	position:absolute;
	top:-109px;
	left:0;
	right:0;
	height:511px;
}
.slider-container {
	position:relative;
	z-index:1;
	height:402px;
}
.mp-prev, .mp-next {
	position:absolute;
	width:31px;
	height:402px;
	bottom:0;
	z-index:3;
}
.mp-prev {
	left:0;
	background:url(../images/slider-prev.png) no-repeat 0 0;
}
.mp-prev:hover {
	background:url(../images/slider-prev.png) no-repeat right 0;
}
.mp-next {
	right:0;
	background:url(../images/slider-next.png) no-repeat 0 0;
}
.mp-next:hover {
	background:url(../images/slider-next.png) no-repeat right 0;
}
.mp-slider .banner {
	position:absolute;
	left:35px;
	right:35px;
	font-family: 'Passion One', cursive;
	color:#fff;
	z-index:99;
	top:120px;
	bottom:0;
	padding:0;
	text-align:center;
	font-size:84px;
	line-height:100px;
	text-transform:uppercase;
}
.mp-slider .banner span {
	display:block;
}
.mp-slider .mp-ban-1 .row-1 {
	padding:40px 0 0 0;
}
.mp-slider .mp-ban-1 .row-2 {
	font-size:110px;
	line-height:130px;
	margin:-45px 0 0 0;
}
.mp-slider .mp-ban-1 .row-3 {
	margin:-40px 0 0 0;
}
.mp-slider .mp-ban-2 .row-1 {
	padding:35px 0 0 0;
	font-size:93px;
	line-height:110px;
}
.mp-slider .mp-ban-2 .row-2, .mp-slider .mp-ban-2 .row-3 {
	color:#ad0000;
	margin:-40px 0 0 0;
}
.mp-slider .mp-ban-3 .row-1 {
	padding:35px 0 0 0;
	font-size:92px;
	line-height:110px;
}
.mp-slider .mp-ban-3 .row-2, .mp-slider .mp-ban-3 .row-3 {
	margin:-40px 0 0 0;
}
/********************** Navigation ************************/
nav {
	float:right;
	padding:12px 0 0 0;
}
.sf-menu {
	min-height:28px;
	padding:0;
	margin:0;
}
.sf-menu ul {
	position:absolute;
	top:-999em;
	width:185px;
	left:0;
	display:none;
}
.sf-menu > li {
	position:relative;
	float:left;
	margin:0 28px;
}
.sf-menu > li > a {
	text-decoration:none;
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:18px;
	text-transform:uppercase;
	color:#fff;
	padding:10px 0 0 0;
	background:url(../images/nav-active.png) no-repeat center -30px;
}
.sf-menu > li.current > a, .sf-menu > li:hover > a, .sf-menu > li.sfHover > a {
	color:#afaa9b;
	text-decoration:none;
	background:url(../images/nav-active.png) no-repeat center 0;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	top:35px;
	left:0;
	z-index:999;
}
.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top:-999em
}
.sf-menu li.current, .sf-menu li:hover, .sf-menu li.sfHover {
	text-decoration:none;
}
.sf-menu li li a {
	display:block;
	margin:0;
	position:relative;
	text-decoration:none;
	font-size:12px;
	line-height:14px;
	color:#fff;
	overflow:hidden;
	padding:8px 5px 8px 15px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	background:url(../images/sub-nav-tail.png);
}
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current > a {
	color:#afaa9b;

}
.sf-menu li li li a {
	background:url(../images/header-bg.png);
}
.sf-menu li li {
	float:none;
	position:relative;
	margin:0 0 1px 0;
}
.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left:186px;
	top:0;
}
/********************** Content ************************/

section#content {
	position:relative;
	z-index:1;
}
.content-bg {
	background:url(../images/body-bg.gif);
	padding:35px 0 43px;
}
.author {
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
}

.adress {
	padding:0 0 20px 0;
}
.adress dt {
	display:block;
	font-weight:normal;
	color:#717171;
	font-size:12px;
	line-height:18px;
	width:235px;
}
.adress dd {
	font-size:12px;
	line-height:18px;
	color:#717171;
	overflow:hidden;
}
.adress dd span {
	float:left;
	width:59px;
	text-align:right;
	margin:0 6px 0 0;
}

.main_container{
	display:flexbox;
	width: 100%;
	height: 300px;
}
.blocks{
	display: flex;
	width: auto;
	height: 250px;
	padding-left: 5%;
	padding-right: 10%;
}
.Seri{
	width: 100%;
	height: auto;
	background-color: #e44b4b;
	display: block;
}
.Sche{
	width: 100%;
	height: auto;
	background-color: #4be481;
	display: none;
}
.od{
	width: 100%;
	height: auto;
	background-color: #744be4;
	display: none;
}
.t1{
	color: #008CBA;
	font-size: x-large;
}
.t2{
	color: #b30404;
	padding-top: 5%;
}
.image1{
flex-basis: 0%;
}
.t3{
	color: #008CBA;
	padding-left: 40%;
	font-size: x-large;
}
#customers {
	border-collapse: collapse;
	width: 100%;
	background-color: white;
	padding-top: 20%;
	height: 100%;
	table-layout: fixed;
  }
  
  #customers td{
	border: 1px solid #ddd;
	padding: 8px;
	font-size:small;
	font-family: Arial, Helvetica, sans-serif;
  } 
  #customers th {
	padding: 8px;
	font-size:x-large ;
	
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color:#688020;
	font-weight:bold;
	color: white;
	font-size: large;
	font-family: serif,Georgia;
  }

 .backbtn{
	background-color: #688020;
  border: none;
  color: rgb(247, 245, 245);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 50%;
}

.backbtn:hover {
  background-color: #ddd;
  color: #688020;
}
 .bb1{
	background-color: #688020;
 }
 .btna {
	margin-left: 2px;
	margin-bottom: 6px;
	margin-top: 35px;
	box-shadow: 0 4px 4px #949494;
	border: none;
	color: rgb(3, 31, 21);
	padding: 16px 100px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 15px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color:#d0f68f;
	border-radius: 5%;
	}
	  
	.btna1 {
		background-color: white; 
		color: black; 
		border: 2px solid #ffffff;
		text-align: center;
	  }
	  
	.btna1:hover {
		background-color: #eaf777;
		color: rgb(25, 233, 108);
		text-align: center;
	  }
	  .btn2 {
		margin-left: 2px;
		margin-bottom: 6px;
		margin-top: 35px;
		box-shadow: 0 4px 4px #949494;
		border: none;
		color: rgb(3, 31, 21);
		padding: 16px 100px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 10px 15px;
		transition-duration: 0.4s;
		cursor: pointer;
		background-color:#d0f68f;
		border-radius: 5%;
		}
		  
		.btn21 {
			background-color: white; 
			color: black; 
			border: 2px solid #ffffff;
			text-align: center;
		  }
		  
		.btn21:hover {
			background-color: rgb(104, 206, 78);;
			color: rgb(242, 250, 245);
			text-align: center;
		  }
.pbi{
	width: 100%;
	height: 100%;
	background-color: white;
	
	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
  }
  
  body2 {
	display: flex;
	background: #333;
	justify-content: flex-end;
	align-items: flex-end;
	min-height: 100vh;
  }
  
  .footer {
	position: relative;
	width: 100%;
	background: #3586ff;
	min-height: 100px;
	padding: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .social-icon,
  .menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
	list-style: none;
  }
  
  .social-icon__link {
	font-size: 2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
  }
  .social-icon__link:hover {
	transform: translateY(-10px);
  }
  
  .menu__link {
	font-size: 1.2rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
	font-weight: 300;
  }
  
  .menu__link:hover {
	opacity: 1;
  }
  
  .footer p {
	color: #fff;
	margin: 15px 0 10px 0;
	font-size: 1rem;
	font-weight: 300;
  }
  
  .wave {
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background: url("https://i.ibb.co/wQZVxxk/wave.png");
	background-size: 1000px 100px;
  }
  
  .wave#wave1 {
	z-index: 1000;
	opacity: 1;
	bottom: 0;
	animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
	z-index: 999;
	opacity: 0.5;
	bottom: 10px;
	animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
	z-index: 1000;
	opacity: 0.2;
	bottom: 15px;
	animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
	z-index: 999;
	opacity: 0.7;
	bottom: 20px;
	animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
	0% {
	  background-position-x: 1000px;
	}
	100% {
	  background-positon-x: 0px;
	}
  }
  
  @keyframes animate {
	0% {
	  background-position-x: -1000px;
	}
	100% {
	  background-positon-x: 0px;
	}
  }